<div class="panel panel-info">
    <div class="panel-heading">
        <div class="modal-header">
            <button aria-hidden="true" data-dismiss="modal" class="close" type="button">&times;</button>
            <h4 class="panel-title">Informacion sobre la Especialidad</h4>
        </div>
    </div>
  <div class="panel-body">
  <p>
  <strong>Especialidad:</strong>
  <%= @especialista.especialidad_id %>
  </p>

  <p>
    <strong>Cedula:</strong>
    <%= @especialista.cedula %>
  </p>

  <p>
    <strong>Nombres:</strong>
    <%= @especialista.nombres %>
  </p>

  <p>
    <strong>Apellidos:</strong>
    <%= @especialista.apellidos %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= @especialista.email %>
  </p>

  <p>
    <strong>Telefono:</strong>
    <%= @especialista.telefono %>
  </p>
  </div>
</div>